force-app/main/default/flows/CallTrascriptCommunicationLinkFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>BuildRMTFromLead</name>
        <label>BuildRMTFromLead</label>
        <locationX>1018</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Call_Transcript__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Matter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Voice_Call__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscriptFromLeadToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>relatedCallTranscript</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insertRCTonLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuildRMTFromMatters</name>
        <label>BuildRMTFromMatters</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Call_Transcript__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Matter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>relatedMattersLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscriptsFromOppsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>relatedCallTranscript</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>relatedMattersLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuildRMTFromMattersOnAccount</name>
        <label>BuildRMTFromMattersOnAccount</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Call_Transcript__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Matter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>relatedMattersOnAccountLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscriptsFromOppsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>relatedCallTranscript</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>relatedMattersOnAccountLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuildRMTFromMattersOnMatter</name>
        <label>BuildRMTFromMattersOnMatter</label>
        <locationX>490</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Call_Transcript__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Matter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>relatedMattersOnMatterLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscriptsFromOppsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>relatedCallTranscript</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>relatedMattersOnMatterLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuildRMTFromOpps</name>
        <label>BuildRMTFromOpps</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>relatedOppsLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Call_Transcript__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Matter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscriptsFromOppsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>relatedCallTranscript</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>relatedOppsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuildRMTFromOppsOnAccount</name>
        <label>BuildRMTFromOppsOnAccount</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>relatedOppsOnAccountLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Call_Transcript__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Matter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscriptsFromOppsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>relatedCallTranscript</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>relatedOppsOnAccountLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuildRMTFromOppsOnMatter</name>
        <label>BuildRMTFromOppsOnMatter</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>relatedOppsOnMatterLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Call_Transcript__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscript.Matter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedCallTranscriptsFromOppsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>relatedCallTranscript</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>relatedOppsOnMatterLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckRecordType</name>
        <label>CheckRecordType</label>
        <locationX>666</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Voice_Call__r.RelatedRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRelatedOpp</targetReference>
            </connector>
            <label>IsOpportunity</label>
        </rules>
        <rules>
            <name>isMatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Voice_Call__r.RelatedRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0j</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMatter</targetReference>
            </connector>
            <label>isMatter</label>
        </rules>
        <rules>
            <name>isAccount</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Voice_Call__r.RelatedRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Voice_Call__r.RelatedRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRelatedOpportunitiesForAccount</targetReference>
            </connector>
            <label>isAccount</label>
        </rules>
        <rules>
            <name>isLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Voice_Call__r.RelatedRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuildRMTFromLead</targetReference>
            </connector>
            <label>isLead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CallTrascriptCommunicationLinkFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CallTrascriptCommunicationLinkFlow</label>
    <loops>
        <name>relatedMattersLoop</name>
        <label>relatedMattersLoop</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>getRelatedMatters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BuildRMTFromMatters</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createRelatedCallTranscriptRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>relatedMattersOnAccountLoop</name>
        <label>relatedMattersOnAccountLoop</label>
        <locationX>754</locationX>
        <locationY>947</locationY>
        <collectionReference>getRelatedMattersForAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BuildRMTFromMattersOnAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createRelatedCallTranscriptRecordsOnAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>relatedMattersOnMatterLoop</name>
        <label>relatedMattersOnMatterLoop</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <collectionReference>getRelatedMattersForMatter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BuildRMTFromMattersOnMatter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createRelatedCallTranscriptRecordsOnMatter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>relatedOppsLoop</name>
        <label>relatedOppsLoop</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>getRelatedOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BuildRMTFromOpps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>relatedMattersLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>relatedOppsOnAccountLoop</name>
        <label>relatedOppsOnAccountLoop</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <collectionReference>getRelatedOpportunitiesForAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BuildRMTFromOppsOnAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>relatedMattersOnAccountLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>relatedOppsOnMatterLoop</name>
        <label>relatedOppsOnMatterLoop</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <collectionReference>getRelatedOpportunitiesForMatter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BuildRMTFromOppsOnMatter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>relatedMattersOnMatterLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createRelatedCallTranscriptRecords</name>
        <label>createRelatedCallTranscriptRecords</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputReference>relatedCallTranscriptsFromOppsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createRelatedCallTranscriptRecordsOnAccount</name>
        <label>createRelatedCallTranscriptRecordsOnAccount</label>
        <locationX>754</locationX>
        <locationY>1247</locationY>
        <inputReference>relatedCallTranscriptsFromOppsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createRelatedCallTranscriptRecordsOnMatter</name>
        <label>createRelatedCallTranscriptRecordsOnMatter</label>
        <locationX>402</locationX>
        <locationY>1355</locationY>
        <inputReference>relatedCallTranscriptsFromOppsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insertRCTonLead</name>
        <label>insertRCTonLead</label>
        <locationX>1018</locationX>
        <locationY>539</locationY>
        <inputReference>relatedCallTranscriptFromLeadToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getMatter</name>
        <label>getMatter</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedOpportunitiesForMatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Voice_Call__r.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeed__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedMatters</name>
        <label>getRelatedMatters</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>relatedOppsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRelatedOpp.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeed__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedMattersForAccount</name>
        <label>getRelatedMattersForAccount</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>relatedOppsOnAccountLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Voice_Call__r.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeed__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedMattersForMatter</name>
        <label>getRelatedMattersForMatter</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>relatedOppsOnMatterLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeed__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getMatter.AcctSeed__Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AcctSeed__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedOpp</name>
        <label>getRelatedOpp</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Voice_Call__r.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedOpportunities</name>
        <label>getRelatedOpportunities</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedMatters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRelatedOpp.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedOpportunitiesForAccount</name>
        <label>getRelatedOpportunitiesForAccount</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedMattersForAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Voice_Call__r.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedOpportunitiesForMatter</name>
        <label>getRelatedOpportunitiesForMatter</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedMattersForMatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getMatter.AcctSeed__Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckRecordType</targetReference>
        </connector>
        <object>Call_Transcript__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LinkingIdFromRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppIdsToRelate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedCallTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Call_Transcript__c</objectType>
    </variables>
    <variables>
        <name>relatedCallTranscriptFromLeadToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Call_Transcript__c</objectType>
    </variables>
    <variables>
        <name>relatedCallTranscriptsFromOppsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Call_Transcript__c</objectType>
    </variables>
    <variables>
        <name>RelatedMeetingTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Meeting_Transcript__c</objectType>
    </variables>
    <variables>
        <name>RelatedMeetingTranscriptsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Related_Meeting_Transcript__c</objectType>
    </variables>
</Flow>
